@using WebMonitoring.Models.HomeModels
@model HomepageModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Website Monitoring Tool</h2>
<h3>Your websites</h3>
<table class="table">
    <tr><th>Name</th><th>URL</th><th>Active</th><th>Options</th></tr>
    @foreach (var website in Model.Websites)
    {
        <tr>
            <td>@website.Name</td>
            <td>@website.Url</td>
            <td>@website.IsActive</td>
            <td>
                <a class="btn btn-default" title="Update" href="@Url.Action("UpdateWebsite", "Home", new {id = website.Id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-danger" title="Delete" href="@Url.Action("DeleteWebsite", "Home", new {id = website.Id})">
                    <span class="glyphicon glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    }
</table>
<br />
<div class="form-group">
    <a asp-action="AddWebsite" class="btn btn-default">Add new website</a>
</div>